body {
    background-color: bisque;
    display: flex;
    flex-flow: column wrap;
}

.Week_Box {
    display: flex;
    flex-flow: column nowrap;
    border: 3px solid black;
    padding: none;
    justify-content: space-between;
    width: auto;
    justify-self: center;
    align-self: center;
}

.Week_Box h3 {
    display: flex;
    justify-content: center;
    margin: none;
}

.Week_Box img {
    width: 250px;
    height: auto;
}

.Week_Box .content {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    
    /*border: 2px solid red;*/
}

.Monday, .Tuesday, .Wednesday, .Thursday, .Friday, .Saturday, .Sunday {
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid black;
    align-items: center;
    justify-content: space-between;
}

.content a {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.content a .date{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Sunday .date {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}